


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">SPI</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php" {{if $highlight == 'index'}} style="font-weight: bold; color: antiquewhite;" {{/if}}>Index </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="clientes.php" {{if $highlight == 'clientes'}} style="font-weight: bold; color: antiquewhite;" {{/if}}>Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="servicios.php" {{if $highlight == 'servicios'}} style="font-weight: bold; color: antiquewhite;" {{/if}}>Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="asignaciones.php" {{if $highlight == 'asignaciones'}} style="font-weight: bold; color: antiquewhite;" {{/if}}>Asignaciones</a>
      </li>
      
    </ul>
  </nav>
  <br>
    
  