
  <script async src="includes/js/servicios.js"></script>
 
    <center>
      
    <div id="body">
        Bienvenido a servicios.
            <div>
                <input type="button" class="btn btn-dark" id="regFormButton" value="Agregar Servicio" onclick="registerInfo()"/>
                <input type="button" class="btn btn-dark" id="" value="Lista Servicios" onclick="getList()">
          </div>
    </div>
     </center>
     <div id="registerService"></div>
 
     <div id="tableService"></div>
 
     <div id="editService"></div>
 